<div class="admissao">

  <div class="stepper-wrapper">
    <div class="stepper-item active">
      <div class="step-counter"></div>
      <div class="step-name">Início</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter"></div>
      <div class="step-name">Documentos</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter"></div>
      <div class="step-name">Dados cadastrais</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter"></div>
      <div class="step-name">Admissão</div>
    </div>
  </div>
  
  
  <h2>
    Informe o CPF do futuro cooperado (a)
  </h2>
  <p>
    Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.<br/>
    Digite apenas os números (sem pontos ou traços).
  </p>

  <div class="row">
    <form [formGroup]="admissaoForm">
      <label class="label-input">CPF</label>
      <div class="wrapper">
        <input [(ngModel)]="cpf" class="input-standard" name="cpf" placeholder="000.000.000-00" size="35" formControlName="cpf" />
        <button class="button-01-azul" (click)="getClienteByCpf()">Consultar por CPF</button>
      </div>
    </form>
  </div>

  <div class="data-user">

    <!-- Card 1 -->
    <div class="card">
      <h3>Situação cadastral do CPF</h3>
      <p>Consulta na Receita Federal</p>
      <div class="row-card">
        <fa-icon class="icon" [icon]="['fas', 'user']" size="2xl"></fa-icon>
        <div class="wrapper-info">
          <label>Nome</label>
          <p>Mariane de Sousa Oliveira</p>
        </div>
      </div>
      <div class="row-card">
        <fa-icon class="check icon" [icon]="['fas', 'circle-check']" size="2xl"></fa-icon>
        <div class="wrapper-info">
          <label>Situação do CPF</label>
          <p>Regular</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <h3>Conta aplicação</h3>
      <p>Cooperativa Viacred</p>
      <div class="row-card">
        <fa-icon class="icon" [icon]="['fas', 'user']" size="2xl"></fa-icon>
        <div class="wrapper-info">
          <label>Número da conta</label>
          <p>557932-4</p>
        </div>
      </div>
      <div class="row-card">
        <span>Duplicar conta</span>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
      <h3>Conta corrente</h3>
      <p>Cooperativa Viacred</p>
      <div class="row-card">
        <fa-icon class="icon" [icon]="['fas', 'user']" size="2xl"></fa-icon>
        <div class="wrapper-info">
          <label>Número da conta</label>
          <p>778461-8</p>
        </div>
      </div>
      <div class="row-card">
        <span>Duplicar conta</span>
      </div>
    </div>

  </div>
  
  <div class="actions">
    <div class="wrapper">
      <button class="button-02-azul">Iniciar nova admissão</button>
      <button class="button-02-branco">Dicas para abertura da conta</button>
    </div>
  </div>

</div>
 

