<aside class="sidebar">
  <object class="logo" type="image/svg+xml" data="../../../../assets/svg/logo-ailos.svg" width="80"></object>

  <nav>
    <fa-icon class="bars icon" [icon]="['fas', 'bars']" size="2xl"></fa-icon>
    <fa-icon class="icon" [icon]="['fas', 'magnifying-glass']" size="2xl"></fa-icon>
    <fa-icon class="icon" [icon]="['fas', 'star']" size="2xl"></fa-icon>
    <fa-icon class="icon" [icon]="['fas', 'comment-dots']" size="2xl"></fa-icon>
    <fa-icon class="icon" [icon]="['fas', 'sliders']" size="2xl"></fa-icon>
    <fa-icon class="icon" [icon]="['fas', 'building-columns']" size="2xl"></fa-icon>
  </nav>
</aside>