@import '../../../../styles.scss';

.sidebar {
  width: 100px;
  min-height: 100vh;
  background-color: $azul;
  color: $cinza-4;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .logo {
    padding: 20px;
  }

  nav {
    color: $branco;
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    :hover {
      opacity: 0.7;
    }

    .bars {
      opacity: 0.5;

    }

    fa-icon {
      cursor: pointer;
    }
  }

  object {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}