@import "../../../../styles.scss";

.header {
  background-color: $branco;
  color: $preto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;

  .wrapper-left {
    text-align: left;

    .breadcrumb {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .wrapper-right {
    display: flex;
    align-items: center;
    gap: 10px;

    .user-avatar {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      border-radius: 42px;
      border: 1px solid $azul;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $azul;
      position: relative;
      background-color: $cinza-1;
      cursor: pointer;

      .icon-config {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $azul;
        background-color: $branco;
        border-radius: 5px;
      }
    }

    .client-name {
      padding: 5px 15px;
      border: 1px solid $azul;
      font-size: 16px;
      font-family: $font-exo;
      font-weight: 700;
      border-radius: 25px;
      color: $azul;
      cursor: pointer;
    }

    .notification {
      cursor: pointer;

      position: relative;
      fa-icon {
        color: $azul;
      }

      span {
        background-color: $critic-vermelho;
        border-radius: 25px;
        width: 15px;
        height: 15px;
        display: block;
        color: $branco;
        font-family: $font-open-sans;
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
