<header class="header">

  <div class="wrapper-left">
    <h1 class="">NOVA ADMISSÃO COOPERADO</h1>
    <p class="breadcrumb">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
  </div>

  <div class="wrapper-right">

    <div class="notification">
      <fa-icon class="icon" [icon]="['fas', 'bell']" size="2xl"></fa-icon>
      <span>1</span>
    </div>

    <div class="client-name">VIACRED</div>

    <div class="user-avatar">
      <fa-icon class="icon-config icon" [icon]="['fas', 'gear']" size="xl"></fa-icon>
      <fa-icon class="icon" [icon]="['fas', 'user']" size="2xl"></fa-icon>
    </div>

  </div>
</header>

