@import '../styles.scss';

.app-container {
  display: flex;
  flex: 1;
}

.wrapper-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding-bottom: 50px;
  background-color: $cinza-1;

  .content {
    padding: 24px;
  }

 

}

