@import './assets/styles/normalize.scss';
@import './assets/styles/vars.scss';

body {
  font-family: $font-open-sans;
  font-size: 11px;
  color: $preto;
  appearance: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body, html, p, h1, h2, h3, h4, span {
  margin: 0;
  padding: 0;
}

p {
  font-family: $font-open-sans;
  color: $cinza-4;
  font-size: 11px;
}

h1 {
  font-family: $font-exo;
  color: $preto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

h2, h3 {
  font-family: $font-exo;
  color: $preto;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}