
// -- CORES --
//cor primaria
$azul: #165C7D;

//cor secundaria
$laranja: #FFA300;

//cor complementares
$azul-claro: #009ED0;
$verde: #00C246;
$azul-intermediario: #007D8A;

//escala crítica
$critic-vermelho: #C13018;
$critic-laranja: #FFA300;
$critic-amarelo: #FCD610;
$critic-verde: #00C246;
$critic-azul: #009ED0;

//escala de cinza
$preto: #040F14;
$cinza-4: #889499;
$cinza-3: #A7B0B5;
$cinza-2: #C6CED1;
$cinza-1: #E7EEF1;
